<div class="content">
  <div class="list">
    <div class="title">Available ({{ available.length }})</div>
    <div
      cdkDropList
      id="available"
      class="players"
      [ngClass]="{ dragging: dragging }"
      [cdkDropListData]="available"
      [cdkDropListConnectedTo]="['participating']"
      (cdkDropListDropped)="playerDrop($event)"
    >
      <game-wizard-player
        *ngFor="let player of available; let index = index"
        cdkDrag
        [cdkDragData]="player"
        [player]="player"
        (cdkDragStarted)="dragStarted()"
        (cdkDragReleased)="dragReleased()"
        (dblclick)="playerDoubleClick(player, index)"
      ></game-wizard-player>
    </div>
  </div>

  <div class="arrow">
    <i class="fas fa-arrow-right fa-3x"></i>
  </div>

  <div class="list">
    <div class="title">Participating ({{ participating.length }})</div>
    <div
      cdkDropList
      id="participating"
      class="players"
      [ngClass]="{ dragging: dragging }"
      [cdkDropListData]="participating"
      [cdkDropListConnectedTo]="['available']"
      (cdkDropListDropped)="playerDrop($event)"
    >
      <game-wizard-player
        *ngFor="let player of participating"
        cdkDrag
        [cdkDragData]="player"
        [player]="player"
        (cdkDragStarted)="dragStarted()"
        (cdkDragReleased)="dragReleased()"
      ></game-wizard-player>

      <div class="header placeholder" *ngIf="participating.length === 0">Drag Players Here</div>
    </div>
  </div>

  <div class="settings" [formGroup]="form">
    <div>
      <div class="row">
        <div>Tournament:</div>
        <mat-button-toggle-group formControlName="tournament" (click)="calculatePlayers()">
          <mat-button-toggle [value]="true">Yes</mat-button-toggle>
          <mat-button-toggle [value]="false">No</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <div class="row">
        <div>Teams:</div>
        <mat-button-toggle-group formControlName="team" (click)="calculatePlayers()">
          <mat-button-toggle [value]="true">Yes</mat-button-toggle>
          <mat-button-toggle [value]="false">No</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <div class="row">
        <div>Order:</div>
        <mat-button-toggle-group formControlName="random">
          <mat-button-toggle [value]="true">Random</mat-button-toggle>
          <mat-button-toggle [value]="false">Nearest bull</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>

    <game-wizard-info
      [meta]="meta"
      [bet]="bet * participating.length"
      [players]="participating.length"
      [minPlayers]="minPlayers"
      [maxPlayers]="maxPlayers"
      [evenPlayers]="form.get('team').value"
    ></game-wizard-info>
  </div>
</div>

<div class="buttons">
  <button mat-flat-button (click)="cancel.emit()">
    Cancel
  </button>
  <button mat-flat-button [disabled]="!valid || loading" (click)="start.emit()">
    Game On
  </button>
</div>
