<div class="content">
  <div class="title">Playing</div>
  <div
    cdkDropList
    cdkDropListOrientation="horizontal"
    id="playing"
    class="players"
    [ngClass]="{ dragging: dragging }"
    [cdkDropListData]="playing"
    [cdkDropListConnectedTo]="['available']"
    (cdkDropListDropped)="onPlayerDrop($event)"
  >
    <game-wizard-player
      *ngFor="let player of playing"
      cdkDrag
      [cdkDragData]="player"
      [player]="player"
      (cdkDragStarted)="dragStarted()"
      (cdkDragReleased)="dragReleased()"
    ></game-wizard-player>
    <div class="bets">
      <div class="row">
        <div class="key">Bets</div>
        <div class="value">{{ bets > 0 ? (bets | currency$ | async) : '-' }}</div>
      </div>
      <div class="row">
        <div class="key">Jackpot</div>
        <div class="value">
          {{
            bets > 0
              ? (bets * (fees.jackpotFee + fees.nextJackpotFee) * -1 | currency$ | async)
              : ((fees.jackpotFee + fees.nextJackpotFee) * 100 | number: '1.2-2') + '%'
          }}
        </div>
      </div>
      <div class="row">
        <div class="key">Rake</div>
        <div class="value">
          {{
            bets > 0
              ? (bets * fees.rake * -1 | currency$ | async)
              : (fees.rake * 100 | number: '1.2-2') + '%'
          }}
        </div>
      </div>
      <div class="row line">
        <div class="key">Prize pool</div>
        <div class="value">
          {{
            bets > 0
              ? (bets - bets * (fees.jackpotFee + fees.nextJackpotFee + fees.rake)
                | currency$
                | async)
              : '-'
          }}
        </div>
      </div>
    </div>
    <div class="header placeholder" *ngIf="playing.length === 0">Drag Players Here</div>
  </div>

  <div class="title">Available</div>
  <div
    cdkDropList
    cdkDropListOrientation="horizontal"
    id="available"
    class="players"
    [ngClass]="{ dragging: dragging }"
    [cdkDropListData]="available"
    [cdkDropListConnectedTo]="['playing']"
    (cdkDropListDropped)="onPlayerDrop($event)"
  >
    <game-wizard-player
      *ngFor="let player of available"
      cdkDrag
      [cdkDragData]="player"
      [player]="player"
      (cdkDragStarted)="dragStarted()"
      (cdkDragReleased)="dragReleased()"
    ></game-wizard-player>
  </div>
</div>

<div class="buttons">
  <button mat-flat-button [disabled]="playing.length > 0" (click)="cancel.emit()">
    Cancel
  </button>
  <button mat-flat-button [disabled]="playing.length < 2 || loading" (click)="start.emit()">
    Game On
  </button>
</div>
