<input
  #fileInput
  id="upload"
  type="file"
  accept="image/*"
  (change)="uploadAvatar($event.target.files.item(0))"
/>

<ng-container *ngIf="!(loading$ | async)">
  <div class="header-wrapper" [style.background-color]="player.color">
    <div class="header-row">
      <app-avatar
        size="80"
        [url]="player.avatar"
        [tooltip]="changeAvatarRef"
        [position]="TooltipPosition.Right"
      ></app-avatar>

      <div>
        <div class="header">
          {{ player.name }}
        </div>
        <app-stars [xp]="player.xp" size="30"></app-stars>
        <app-roles [roles]="player.roles"></app-roles>
      </div>
    </div>
    <div class="header-column">
      <div class="header">{{ player.balance | currency$ | async }}</div>
      <div class="buttons">
        <button
          mat-flat-button
          [tooltip]="transactionRef"
          (click)="setTransactionType(TransactionType.Deposit)"
        >
          Deposit
        </button>
        <button
          mat-flat-button
          [tooltip]="transactionRef"
          (click)="setTransactionType(TransactionType.Withdrawal)"
        >
          Withdrawal
        </button>
        <button
          mat-flat-button
          [tooltip]="transactionRef"
          (click)="setTransactionType(TransactionType.Transfer)"
        >
          Transfer
        </button>
      </div>
    </div>
  </div>
  <div class="content">
    <app-player-stats [player]="player"></app-player-stats>
    <app-player-transactions
      *ngIf="player.transactions"
      [transactions]="player.transactions"
      (changeOffset)="getTransactions($event)"
    ></app-player-transactions>
  </div>
  <div class="settings" [formGroup]="settingsForm">
    <div class="header">Settings</div>
    <div class="row">
      <mat-form-field class="light">
        <input matInput formControlName="name" placeholder="Name" (change)="update()" />
      </mat-form-field>

      <mat-form-field class="light">
        <input
          matInput
          formControlName="single"
          placeholder="Favorite single"
          (change)="update()"
        />
      </mat-form-field>

      <mat-form-field class="light">
        <input
          matInput
          formControlName="double"
          placeholder="Favorite double"
          (change)="update()"
        />
      </mat-form-field>

      <mat-form-field class="light">
        <input
          matInput
          formControlName="triple"
          placeholder="Favorite triple"
          (change)="update()"
        />
      </mat-form-field>
    </div>
    <mat-checkbox class="light" color="primary" formControlName="pro" (change)="update()">
      Professional
    </mat-checkbox>
    <div class="row" *ngIf="!hasRoles(Role.EmailVerified)">
      <div class="text">
        Your e-mail is not verified, click to send verification to your inbox.
      </div>
      <div class="button">
        <button mat-flat-button (click)="verifyEmail()">Verify e-mail</button>
      </div>
    </div>
  </div>

  <div class="danger">
    <div class="header">Danger zone</div>
    <div class="row">
      <div class="text">
        {{
          hasRoles(Role.Pin)
            ? 'Lost PIN code? Click to reset and a new PIN code will be sent to your email.'
            : 'Your PIN code is disabled, click reset PIN to enable it again.'
        }}
      </div>
      <div class="button">
        <button mat-flat-button (click)="resetPin()">Reset PIN</button>
      </div>
    </div>

    <div class="row" *ngIf="hasRoles(Role.Pin)">
      <div class="text">Bad memory? Disable PIN code when joining game.</div>
      <div class="button">
        <button mat-flat-button (click)="disablePin()">
          Disable PIN
        </button>
      </div>
    </div>

    <div class="row">
      <div class="text">Don't want to play anymore? Click to delete player.</div>
      <div class="button">
        <button mat-flat-button (click)="delete()">Delete</button>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #changeAvatarRef>
  <div class="avatar">
    <mat-form-field>
      <input matInput [formControl]="avatar" placeholder="URL" />
    </mat-form-field>
    <div>
      <button class="close-tooltip" mat-stroked-button (click)="update(GRAVATAR)">
        Gravatar
      </button>
      <button class="close-tooltip" mat-stroked-button (click)="openFileInput()">
        Upload
      </button>
      <button
        class="close-tooltip"
        mat-stroked-button
        [disabled]="avatar.invalid"
        (click)="update(avatar.value)"
      >
        Save URL
      </button>
    </div>
  </div>
</ng-template>

<ng-template #transactionRef [formGroup]="transactionForm">
  <div class="transaction">
    <mat-form-field>
      <input matInput type="number" formControlName="amount" placeholder="Amount" />
    </mat-form-field>
    <mat-form-field *ngIf="transactionForm.get('type').value === TransactionType.Transfer">
      <mat-label>Transfer to</mat-label>
      <mat-select formControlName="receiverUid">
        <mat-option *ngFor="let player of players" [value]="player.uid">
          {{ player.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button
      class="close-tooltip"
      mat-stroked-button
      [disabled]="transactionForm.invalid"
      (click)="executeTransaction()"
    >
      Ok
    </button>
  </div>
</ng-template>
