@import '~variables.scss';

.row {
  display: flex;
}

label {
  cursor: pointer;
  margin-right: 10px;
}

#upload {
  display: none;
}

.user-info {
  flex: 1;
  margin-left: 10px;
  display: flex;
  flex-direction: column;

  .icons {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .icon {
      flex: 1;
    }

    fa-icon {
      margin-right: 10px;
    }

    span {
      font-size: 16px;
    }
  }
}

.stats {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px $white90 solid;
  justify-content: space-between;
  flex-wrap: wrap;

  .stats-item {
    display: flex;
    flex: 1 0 50%;
    align-items: baseline;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;

    &:nth-child(even) {
      flex-direction: row-reverse;
    }

    .value {
      font-size: 35px;
    }
  }
} 