<div class="modal" (click)="$event.stopPropagation()">
  <div class="header">{{ modal.header }}</div>
  <div class="text">{{ modal.text }}</div>
  <div class="pin" *ngIf="modal.pin">
    <div *ngFor="let p of [0, 1, 2, 3]" class="num">{{ pin[p] >= 0 ? '*' : ' ' }}</div>
  </div>
  <div class="buttons">
    <button
      *ngIf="modal.cancel"
      mat-stroked-button
      [color]="modal.cancel.color"
      (click)="action(modal.cancel)"
    >
      {{ modal.cancel.text || 'Cancel' }}
    </button>
    <button
      *ngIf="modal.ok"
      mat-stroked-button
      [color]="modal.ok.color"
      [disabled]="!pinValid"
      (click)="action(modal.ok)"
    >
      {{ modal.ok.text || 'OK' }}
    </button>
  </div>
</div>
