@import '~variables.scss'; 

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 200;
}

.login {
  display: flex;
  flex-direction: column;
  width: 340px;
}

.header {
  font-family: $logo;
  font-size: 60px;
  text-transform: uppercase;
  line-height: 0.70;
  overflow: hidden;
}

.background-wrapper {
  background: $white30;
  border-bottom: 1px solid $white90;
}

.login-wrapper {
  overflow: hidden;
}

.form {
  width: 300px;
  padding: 20px;
  border-color: $white90;
  border-style: solid;
  border-width: 0 0 1px;

  mat-form-field {
    width: 100%;
  }
}


.button {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 50px;

  mat-progress-bar {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
  }

  button {
    flex: 1;
  }
}
