@import '~variables.scss';

.player {
  display: flex;
  align-items: center;
  padding: 5px 0;

  fa-icon {
    margin-right: 8px;
  }

  .name {
    flex: 1;
    font-size: 24px;
    font-weight: 300;
  }

  .details {
    flex: 1;
  }
}
