@import '~variables.scss';

:host {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  background: rgba($white, .3);
  width: 200px;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

div {
  margin: 0 10px;
  white-space: nowrap;
  letter-spacing: 2px;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
}
