@import '~variables.scss';

:host {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 50vh;
  margin-top: -50px;
  font-weight: 300;
  font-size: 39px;
}

span {
  text-transform: uppercase;
  margin-right: 20px;
}