<div class="team">
  <div *ngIf="showStart" [@fadeIn] class="start" [style.background]="color"></div>
  <div class="players">
    <div class="player" *ngFor="let player of team.players">
      <app-avatar [size]="team.players.length > 1 ? 20 : 30" [url]="player.avatar"></app-avatar>
      <div class="name" [style.font-size-px]="team.players.length > 1 ? 12 : 18">
        {{ player.name }}
      </div>
    </div>
  </div>
  <div *ngIf="showScore" class="score">{{ team.sets }}</div>
  <div *ngIf="showScore" class="score">{{ team.legs }}</div>
  <div *ngIf="showScore" class="score">{{ team.score }}</div>
  <div class="gems" [ngClass]="{ disabled: jackpotDisabled }">
    <span *ngFor="let gem of [0, 1, 2]" [style.color]="team.gems > gem ? '#bc7bd1' : '#d1d1d1'">
      <i class="far fa-gem"></i>
    </span>
  </div>
</div>
<div class="scores">
  <div
    class="hit"
    [@slideIn]
    *ngFor="let hit of team.hits | slice: -15; trackBy: trackByFn"
    [style.background]="hit.approved > 0 ? '#daf2dc' : '#f2dada'"
  >
    {{ getHitValue(hit) }}
  </div>
</div>
