@import '~variables.scss';

:host {
  margin-bottom: 20px;

  &.disabled {
    opacity: 0.4;
  }
}

.team {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  background: $grey;
  z-index: 20;
  border-bottom: 1px solid $dark-blue;
}

.players {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  height: 45px;
}

.player {
  display: flex;
  flex: 1;
  align-items: center;
}

img {
  margin-right: 10px;
  border-radius: 50%;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 110px;
}

.score, .gems {
  width: 70px;
}

.score {
  text-align: center;
  font-family: $header;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
}

.scores {
  position: relative;
  display: flex;
  height: 25px;
  z-index: 10;

  .hit {
    font-family: $header;
    font-size: 12px;
    padding: 5px;
    width: 30px;
    box-sizing: border-box;
    border-right: 1px solid $dark-blue;
    text-align: center;
    background: $grey;
  }
}

.gems {
  display: flex;
  justify-content: center;

  &.disabled {
    opacity: 0.4;
  }

  span {
    padding: 0 1px;
  }
}