@import '~variables.scss';

:host {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  background: rgba($white, .2);
  width: 200px;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

div {
  white-space: nowrap;
  letter-spacing: 2px;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
}

