<div class="container" *ngIf="step === Step.SelectGame || selected" [formGroup]="form">
  <div class="header">{{ game.name }}</div>
  <ng-container [ngSwitch]="step">
    <ng-container *ngSwitchCase="Step.SelectGame">
      <div class="content text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat.
      </div>

      <mat-form-field *ngIf="game.types.length > 1" class="light">
        <mat-label>Variant</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let type of game.types" [value]="type">
            {{ typeName(type) }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button class="play-button" mat-flat-button (click)="onStepChange(Step.GameSettings)">
        Play
      </button>
    </ng-container>

    <ng-container *ngSwitchCase="Step.GameSettings">
      <div class="content">
        <div class="row">
          <div>Bet:</div>
          <mat-button-toggle-group formControlName="bet">
            <mat-button-toggle *ngFor="let bet of bets" [value]="bet">
              {{ bet | currency }}
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        <div class="row">
          <div>Legs:</div>
          <mat-button-toggle-group formControlName="legs">
            <mat-button-toggle *ngFor="let leg of legs" [value]="leg">
              {{ leg }}
            </mat-button-toggle>
          </mat-button-toggle-group>

          <div>Sets:</div>
          <mat-button-toggle-group formControlName="sets">
            <mat-button-toggle *ngFor="let set of sets" [value]="set">
              {{ set }}
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
      <div class="buttons">
        <button mat-flat-button (click)="onStepChange(Step.SelectGame)">
          Cancel
        </button>
        <button mat-flat-button>
          Game On
        </button>
      </div>
    </ng-container>
  </ng-container>
</div>
