<div class="header">{{ game.name }}</div>
<div class="text">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
  labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
  nisi ut aliquip ex ea commodo consequat.
</div>
<mat-form-field *ngIf="game.types.length > 1" color="accent">
  <mat-label>Variant</mat-label>
  <mat-select [formControl]="variant">
    <mat-option *ngFor="let type of game.types" [value]="type">
      {{ typeName(type) }}
    </mat-option>
  </mat-select>
</mat-form-field>
<button mat-flat-button color="accent" (click)="play.emit(variant.value)">Play</button>
