<div class="header">
  {{ gameName(game.type) }}
</div>
<div class="header sub">{{ gameSubName(game.type) }}</div>
<div class="row">
  <div class="name">Round</div>
  <div class="value">1</div>
  <div class="divider">|</div>
  <div class="name">Leg</div>
  <div class="value">1/{{ game.legs }}</div>
  <div class="divider">|</div>
  <div class="name">Set</div>
  <div class="value">1/{{ game.sets }}</div>
</div>

<div class="row">
  <div class="name">Prize</div>
  <div class="value">{{ game.bet * game.players.length | currency }}</div>
</div>
