@import '~variables.scss';

:host {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: $white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .icon {
    font-size: 20px;
    cursor: pointer;
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3px 0;

  &.prize {
    margin-top: 10px;
  }

  .name {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
  }

  .divider {
    margin: 0 10px;
    font-size: 16px;
    font-weight: 100;
    font-family: $header;
  }

  .value {
    flex: 1;
    text-align: end;
    font-size: 16px;
    font-weight: 300;
    font-family: $header;
    letter-spacing: 2px;
    text-transform: uppercase;

    &.first-to {
      font-size: 10px;
    }
  }
}