:host {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 1px;
}

img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.name, .win {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.name {
  flex: 1;
}

game-xp-counter {
  flex: 0.5;
}

.win {
  flex: 0.5;
  text-align: right;
}
