@import '~variables.scss';

:host {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  color: $dark-blue;

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
  }
}

.player-wrapper {
  background: $grey;
  height: 180px;
  padding: 10px 0;
  overflow: hidden;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
  height: 180px;

  .name {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 2px;
    overflow: hidden;
  }
  
  app-avatar {
    margin-bottom: 10px;
  }
}

.hits {
  height: 109px;
  box-sizing: border-box;
  border: solid $grey;
  border-width: 0 1px;
  padding-top: 1px;

  game-score {
    margin-bottom: 1px;
  }
}