<app-box-group header="Playing">
  <div class="player">
    <app-avatar
      [avatarUrl]="player.avatarUrl"
      [color]="player.color"
      [name]="player.name"
      size="40"
    ></app-avatar>
    <div>
      {{ player.name }}
    </div>
  </div>
  <div class="scores">
    <div *ngFor="let score of scores" class="score-wrapper">
      <div>{{ score.score }}</div>
      <div>x{{ score.multiplier }}</div>
      <div>{{ score.score * score.multiplier }}</div>
    </div>
    <div
      *ngFor="let emptyScore of emptyScores | slice: scoresCount"
      class="score-wrapper empty"
    >
      <div>-</div>
      <div>-</div>
      <div>-</div>
    </div>
  </div>
  <div class="total-score">
    {{ totalScore }}
  </div>
  <div class="turn-text">
    {{ turnText }}
  </div>
  <button mat-stroked-button (click)="endTurn.emit()" [disabled]="disableEndTurn">
    {{ endTurnButtonText }}
  </button>
  <button mat-stroked-button (click)="abortAutoEndTurn.emit()" [disabled]="countDown === -1">
    Cancel
  </button>
</app-box-group>
