<div class="wrapper">
  <div *ngFor="let round of halveItRounds; let roundIndex = index" class="column">
    <div
      class="field header"
      [ngClass]="{ active: roundIndex === currentRound && !loading, sum: round === 'Total' }"
    >
      {{ round }}
    </div>
    <div
      *ngFor="let player of players; let playerIndex = index"
      class="field"
      [ngClass]="{
        active: (playerIndex === currentTurn || roundIndex === currentRound) && !loading
      }"
    >
      {{ getPlayerRoundScore(roundIndex, playerIndex) }}
    </div>
  </div>
</div>
