<app-box header="Settings">
  <app-box-group header="Account name">
    <mat-form-field>
      <input
        matInput
        [formControl]="displayName"
        placeholder="Account name"
        (change)="onChangeDisplayName()"
      />
    </mat-form-field>
  </app-box-group>

  <app-box-group header="Password">
    <div class="password-form" [formGroup]="passwordForm">
      <mat-form-field>
        <input
          matInput
          type="password"
          formControlName="currentPassword"
          placeholder="Current password"
        />
      </mat-form-field>
      <div class="new-password">
        <mat-form-field>
          <input matInput type="password" formControlName="newPassword" placeholder="Password" />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="password"
            formControlName="confirmPassword"
            placeholder="Confirm password"
          />
        </mat-form-field>
      </div>
    </div>
  </app-box-group>
  <app-box-buttons
    rightText="Change"
    [rightLoading]="loading$ | async"
    [rightDisabled]="passwordForm.invalid"
    (rightClick)="onChangePassword()"
  ></app-box-buttons>
</app-box>
