<app-box header="Settings">
  <app-box-group header="Account name">
    <ng-container *ngIf="hasPermission(Permission.CORE_ACCOUNT_WRITE); else noPermission">
      <mat-form-field>
        <input
          matInput
          [formControl]="displayName"
          placeholder="Account name"
          (change)="onChangeDisplayName()"
        />
      </mat-form-field>
    </ng-container>
  </app-box-group>

  <app-box-group header="Password">
    <ng-container *ngIf="hasPermission(Permission.CORE_PASSWORD_WRITE); else noPermission">
      <div class="password-form" [formGroup]="passwordForm">
        <mat-form-field>
          <input
            matInput
            type="password"
            formControlName="password"
            placeholder="Current password"
          />
        </mat-form-field>
        <div class="new-password">
          <mat-form-field>
            <input matInput type="password" formControlName="newPassword" placeholder="Password" />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              type="password"
              formControlName="confirmPassword"
              placeholder="Confirm password"
            />
          </mat-form-field>
        </div>
      </div>
    </ng-container>
  </app-box-group>
  <app-box-buttons
    rightText="Change"
    [rightLoading]="loading$ | async"
    [rightDisabled]="passwordForm.invalid"
    (rightClick)="onChangePassword()"
  ></app-box-buttons>
</app-box>

<ng-template #noPermission>
  <div class="no-permission">
    <fa-icon [icon]="noPermissionIcon" size="2x"></fa-icon>
    <span>You dont have permission(s) to perform this operation.</span>
  </div>
</ng-template>
