mat-form-field {
  width: 250px;
}

.password-form {
  display: flex;
  flex-direction: column;

  .new-password {
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  app-button {
    padding-bottom: 1.25em; 
  }
}