mat-form-field {
  width: 45%;
}

.password-form {
  display: flex;
  flex-direction: column;

  .new-password {
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}