@import '~variables.scss';

:host {
  position: relative;
  background: $off-white;
  padding: 20px;
  margin: 10px;
  box-shadow: $box-shadow;

  &.bottom:after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent $off-white transparent;
  }

  &.right:after {
    content: " ";
    position: absolute;
    right: 100%;
    top: 50%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent $off-white transparent transparent;
  }
}