@import '~variables.scss';

.header {
  letter-spacing: 5px;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 1px solid $white90;
  margin-top: 20px;
  padding-left: 20px;
}

.wrapper {
  display: flex;
  border-bottom: 1px solid $white90;

  .list {
    display: flex;
    flex-direction: column;
    width: 200px;

    .list-filler {
      flex: 1;
      background: $white15;
    }

    mat-spinner {
      margin: auto;
    }

    .list-item {
      padding: 8px;
      font-size: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
      background: $white15;

      &:not(.selected):not(.disabled):hover {
        background: $white40;
      }

      &.disabled {
        cursor: not-allowed;
        color: $white60;
      }

      &.selected {
        background: $white30;
      }
    }
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;

    .body {
      flex: 1;
      padding: 10px;
      background: $white30;
    }
  }
}
