<div class="user" [formGroup]="userForm">
  <div class="header">User</div>
  <mat-form-field class="light">
    <input matInput formControlName="name" placeholder="Name" (change)="updateUser()" />
  </mat-form-field>
  <mat-form-field class="light">
    <input matInput formControlName="nickname" placeholder="Nickname" (change)="updateUser()" />
  </mat-form-field>
  <mat-form-field class="light">
    <input matInput formControlName="email" placeholder="Email" (change)="updateUser()" />
  </mat-form-field>
  <div class="button">
    <button mat-flat-button (click)="logout()">Logout</button>
  </div>
</div>

<div class="content">
  <div class="settings" [formGroup]="metaDataForm">
    <div class="header">Settings</div>
    <mat-form-field>
      <input
        matInput
        formControlName="currency"
        placeholder="Currency"
        (change)="updateSettings()"
      />
    </mat-form-field>
  </div>
  <div class="bank">
    <div class="header">Bank</div>
    <div class="row">
      <div class="name">Players</div>
      <div class="header">{{ bank.players | currency$ | async }}</div>
    </div>
    <div class="row">
      <div class="name">In play</div>
      <div class="header">{{ bank.inPlay | currency$ | async }}</div>
    </div>
    <div class="row">
      <div class="name">Rake</div>
      <div class="header">{{ bank.rake | currency$ | async }}</div>
    </div>
    <div class="row">
      <div class="name">Current Jackpot</div>
      <div class="header">{{ jackpot.value | currency$ | async }}</div>
    </div>
    <div class="row">
      <div class="name">Next Jackpot</div>
      <div class="header">{{ jackpot.nextValue | currency$ | async }}</div>
    </div>
    <div class="row line">
      <div class="name">Total</div>
      <div class="header">{{ total | currency$ | async }}</div>
    </div>
    <div class="row line">
      <div class="name">Total turnover</div>
      <div class="header">{{ bank.turnOver | currency$ | async }}</div>
    </div>
  </div>
</div>

<app-invoice [invoices]="invoices$ | async" (pay)="pay($event)"></app-invoice>
