@import '~variables.scss';

:host {
  display: block;
  position: relative;
  cursor: default;

  &:not(.locked) {
    cursor: url("../../../../assets/dart.png"), auto;

    .light, .red, .green, .dark {
      &:hover {
        fill: $white60;
      }
    }
  }
}

svg {
  height: 100%;

  path, circle {
    stroke: transparent;
    stroke-width: 5;
  }
}

.light {
  fill: $board-light;
}

.red {
  fill: $board-red;
}

.green {
  fill: $board-green;
  stroke: $white90;
  stroke-width: 2;
}

.dark {
  fill: $board-black;
}

.score {
  font-family: 'Rubik';
  fill: $white90;
  stroke: $board-black;
  stroke-width: 1;
  font-size: 36px;
}

.hit {
  position: absolute;
  z-index: 100;
  border: 1px solid $black;
  background: $white90;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.65);

  &:after {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border: 1px solid $black;
    border-radius: 50%;
    top: calc(50% - 3px);
    left: calc(50% - 3px);
    animation: hit-pulse 1s ease-in-out;
    animation-iteration-count: infinite;
  }
}

@keyframes hit-pulse {
  0% {
    background: rgba($board-red, 1);
  }
  50% {
    background: rgba($board-red, 0.2);
  }
  100% {
    background: rgba($board-red, 1);
  }
}
