@import '~variables.scss';

:host {
  display: block;
  height: 100%;
  width: auto;
  position: relative;
  user-select: none;

  &:not(.disabled) {
    path, circle {
      stroke: transparent;
      stroke-width: 5;

      &:hover {
        fill: rgba($white, .5);
      }
    }
  }
}

.absolute {
  position: absolute;
}

game-current-player {
  z-index: 15;
}

game-controls {
  bottom: 0;
}

game-checkout {
  left: 50px;
  top: 65px;
  z-index: 10;
}

svg {
  height: 100%;
}

.light {
  fill: $board-light;
}

.red {
  fill: $board-red;
}

.green {
  fill: $board-green;
}

.dark {
  fill: $board-black;
}

.text {
  font-family: $header;
  fill: $white;
  font-size: 36px;
  font-weight: 100;
}