@import '~variables.scss';

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  border-radius: 50%;
  color: $black;
  font-family: $logo;
  font-weight: 100;
}