@import '~variables.scss'; 

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background: $white30;
  border: solid $white90;
  border-width: 0 1px 1px 0;
  width: 270px;
}

.value {
  font-family: $jackpot;
  font-size: 60px;
}