@import '~variables.scss';

:host {
  display: flex;
  flex: 1;
}

.tab {
  flex: 1;
  letter-spacing: 5px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
  background: $white15;
  cursor: pointer;

  &:not(.active) {
    border-bottom: 1px solid $white90;

    &:hover {
      background: $white40;
    }
  }

  &.active {
    background: $white30;

    &:not(:first-child) {
      border-left: 1px solid $white90;
    }
    &:not(:last-child) {
      border-right: 1px solid $white90;
    }
  }
}