:host {
  display: block;
  margin: 100px 0 200px;

}

app-menu {
 position: fixed;
 z-index: 500;
 left: 0;
 top: 0;
 right: 0;
}

mat-progress-bar {
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
}

app-modal {
  position: fixed;
  z-index: 1500;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}