<div class="row">
  <label for="upload">
    <app-avatar
      [avatarUrl]="player.avatarUrl"
      [color]="player.color"
      [name]="player.name"
      size="120"
    ></app-avatar>
    <input
      id="upload"
      type="file"
      (change)="updateAvatar.emit($event.target.files[0])"
      accept=".png,.jpg"
    />
  </label>
  <div class="user-info">
    <mat-form-field>
      <input matInput [formControl]="name" placeholder="Name" (change)="onUpdatePlayer()" />
    </mat-form-field>
    <div class="icons">
      <div class="icon">
        <fa-icon [icon]="iconCoins" size="lg"></fa-icon>
        <span>{{ player.credits | number: '1.2-2' }}</span>
      </div>
      <div class="icon">
        <fa-icon [icon]="iconBullseye" size="lg"></fa-icon>
        <span>{{ player.xp }}</span>
      </div>
      <div class="icon">
        <fa-icon [icon]="iconGem" size="lg"></fa-icon>
        <span>{{ player.diamonds }}</span>
      </div>
    </div>
  </div>
</div>
<div class="row stats">
  <div class="stats-item">
    <div class="value">{{ player.played }}</div>
    <div class="description">played</div>
  </div>
  <div class="stats-item">
    <div class="value">{{ player.wins }}</div>
    <div class="description">wins</div>
  </div>
  <div class="stats-item">
    <div class="value">{{ player.hits }}</div>
    <div class="description">hits</div>
  </div>
  <div class="stats-item">
    <div class="value">{{ player.misses }}</div>
    <div class="description">misses</div>
  </div>
  <div class="stats-item">
    <div class="value">{{ player.highest }}</div>
    <div class="description">highest</div>
  </div>
  <div class="stats-item">
    <div class="value">{{ player.turnover | number: '1.2-2' }}</div>
    <div class="description">turnover</div>
  </div>
  <div class="stats-item">
    <div class="value">{{ player.oneHundredEighties }}</div>
    <div class="description">180's</div>
  </div>
  <div class="stats-item">
    <div class="value">{{ player.net | number: '1.2-2' }}</div>
    <div class="description">net</div>
  </div>
</div>
