<app-box header="Players">
  <app-box-list-view
    header="Players"
    [selected]="selectedPlayerId"
    [items]="playersListItem$ | async"
    [loading]="loadingPlayers$ | async"
    (selectId)="onSelectPlayer($event)"
  >
    <app-box-tabs head [tabs]="tabs" [(activeTab)]="activeTab"></app-box-tabs>
    <div class="player" body *ngIf="!selectedPlayer; else player">
      No player selected
    </div>
    <ng-template #player>
      <div [ngSwitch]="activeTab" class="player">
        <app-player-info
          *ngSwitchCase="Tabs.INFO"
          [player]="selectedPlayer"
          (updatePlayer)="onUpdate($event)"
          (updateAvatar)="onUpdateAvatar($event)"
        ></app-player-info>
        <app-player-bank
          *ngSwitchCase="Tabs.BANK"
          [credits]="selectedPlayer.credits"
          [transactions]="transactions$ | async"
          (transaction)="onTransaction($event)"
        ></app-player-bank>
        <app-player-stats *ngSwitchCase="Tabs.STATS"></app-player-stats>
      </div>
    </ng-template>
  </app-box-list-view>

  <app-box-group header="Add new player">
    <mat-form-field>
      <input matInput [formControl]="name" placeholder="New player name" />
    </mat-form-field>
  </app-box-group>
  <app-box-buttons
    rightText="Create player"
    [rightLoading]="loadingCreatePlayer$ | async"
    [rightDisabled]="name.invalid"
    (rightClick)="onCreate()"
  ></app-box-buttons>
</app-box>
