<app-box header="Players"></app-box>

<!-- <app-box header="Players" [icon]="iconPlayers">
  <app-box-list-view
    [selected]="selectedPlayerId"
    [items]="playersListItem$ | async"
    [loading]="loadingPlayers$ | async"
    (select)="onSelect($event)"
  >
    <app-player
      [player]="selectedPlayer$ | async"
      (updatePlayer)="onUpdate($event)"
      (updateAvatar)="onUpdateAvatar($event)"
    ></app-player>
  </app-box-list-view>
</app-box>

<app-box header="Create New Player" [icon]="iconNewPlayer">
  <app-box-group>
    <div class="new-player">
      <mat-form-field>
        <input matInput [formControl]="name" placeholder="New player name" />
      </mat-form-field>
      <app-button
        color="primary"
        [loading]="loadingCreatePlayer$ | async"
        [disabled]="name.invalid"
        (btnClick)="onCreate()"
      >
        Create player
      </app-button>
    </div>
  </app-box-group>
</app-box> -->
