<app-box header="Players">
  <app-box-list-view
    header="Players"
    [selected]="selectedPlayerId"
    [items]="playersListItem$ | async"
    [loading]="loadingPlayers$ | async"
    (select)="onSelect($event)"
  >
    <app-box-tabs top [tabs]="tabs" [(activeTab)]="activeTab"></app-box-tabs>
    <span class="player" body *ngIf="!selectedPlayer; else player">
      No player selected
    </span>
    <ng-template #player>
      <app-player
        class="player"
        [player]="selectedPlayer"
        (updatePlayer)="onUpdate($event)"
        (updateAvatar)="onUpdateAvatar($event)"
      ></app-player>
    </ng-template>
  </app-box-list-view>

  <app-box-group header="Add new player">
    <mat-form-field>
      <input matInput [formControl]="name" placeholder="New player name" />
    </mat-form-field>
  </app-box-group>
  <app-box-buttons
    rightText="Create player"
    [rightLoading]="loadingCreatePlayer$ | async"
    [rightDisabled]="name.invalid"
    (rightClick)="onCreate()"
  ></app-box-buttons>
</app-box>
