<div class="balance">
  <fa-icon [icon]="iconCoins" size="lg"></fa-icon>
  <div>{{ credits | number: '1.2-2' | currency }}</div>
</div>
<div class="amount">
  <mat-form-field>
    <input [formControl]="amount" type="number" matInput placeholder="Amount" />
  </mat-form-field>
  <button mat-stroked-button [disabled]="amount.invalid" (click)="onDeposit()">
    Deposit
  </button>
  <button
    mat-stroked-button
    [disabled]="amount.invalid || amount.value > credits"
    (click)="onWithdraw()"
  >
    Withdraw
  </button>
</div>

<div class="transactions">
  <div class="table-headers">
    <div class="lg">Date/Time</div>
    <div class="sm">Type</div>
    <div class="sm right">Amount</div>
    <div class="sm right">Balance</div>
  </div>
  <div class="table-body">
    <div *ngFor="let transaction of transactions" class="table-row">
      <div class="lg">{{ transaction.timestamp | date: 'yyyy-MM-dd HH:mm:ss' }}</div>
      <div class="sm capital">{{ transaction.type }}</div>
      <div class="sm right">{{ transaction.amount | number: '1.2-2' }}</div>
      <div class="sm right">{{ transaction.balance | number: '1.2-2' | currency }}</div>
    </div>
  </div>
</div>
