<div class="menu" [@menuAnimation]="(menuOpen$ | async) ? 'show' : 'hide'">
  <div class="logo">DART3</div>
  <div
    class="item"
    [ngClass]="{ active: isRouteActive('/start') || isRouteActive('/game') }"
    (click)="onNavigate([''])"
  >
    <fa-icon [icon]="gameIcon" size="2x"></fa-icon>
  </div>
  <div
    class="item"
    [ngClass]="{ active: isRouteActive('/players') }"
    (click)="onNavigate(['players'])"
  >
    <fa-icon [icon]="userIcon" size="2x"></fa-icon>
  </div>
  <div
    class="item"
    [ngClass]="{ active: isRouteActive('/statistics') }"
    (click)="onNavigate(['statistics'])"
  >
    <fa-icon [icon]="statsIcon" size="2x"></fa-icon>
  </div>
  <div
    class="item"
    [ngClass]="{ active: isRouteActive('/settings') }"
    (click)="onNavigate(['settings'])"
  >
    <fa-icon [icon]="settingsIcon" size="2x"></fa-icon>
  </div>
  <div class="item" (click)="onLogout()">
    <fa-icon [icon]="logoutIcon" size="2x"></fa-icon>
  </div>
</div>
