<div class="menu-left">
  <div
    class="item"
    data-title="Game"
    [ngClass]="{ active: routeActive('/start') }"
    (click)="navigate(['/'])"
  >
    Game
  </div>
  <div
    class="item"
    data-title="Players"
    [ngClass]="{ active: routeActive('/players') }"
    (click)="navigate(['players'])"
  >
    Players
  </div>
  <!-- <div class="item" data-title="Statistics">Statistics</div> -->
</div>
<div class="header">
  DART3
</div>

<div class="menu-right">
  <img [src]="picture$ | async" (click)="navigate(['user'])" />
</div>
