@import '~variables.scss';

:host {
  display: flex;
  height: 50px;
}

.filler {
  flex: 1;
}

.button {
  display: flex;
  background: $white30;
  width: 30%;
  border-bottom: 1px solid $white90;
  position: relative;
  overflow: hidden;

  mat-progress-bar {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
  }

  button {
    flex: 1;
  }
}
