<div *ngIf="leftText" class="button">
  <button mat-button [disabled]="leftDisabled || leftLoading" (click)="onLeftClick()">
    <mat-progress-bar *ngIf="leftLoading" mode="indeterminate" color="accent"></mat-progress-bar>
    {{ leftText }}
  </button>
</div>

<div class="filler"></div>

<div *ngIf="rightText" class="button">
  <button mat-button [disabled]="rightDisabled || rightLoading" (click)="onRightClick()">
    <mat-progress-bar *ngIf="rightLoading" mode="indeterminate" color="accent"></mat-progress-bar>
    {{ rightText }}
  </button>
</div>
