@import '~variables.scss';

:host {
  flex: 1 0 500px;
  display: flex;
  flex-direction: column;
  background: $white;
  padding: 15px 20px;
  box-sizing: border-box;
}

.row {
  color: $black;
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin: 5px 0;

  &.space {
    margin: 20px 0 5px;
  }

  .name {
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}