<div class="row">
  <div class="name">XP</div>
  <div class="header">{{ player.xp }}</div>
</div>
<!-- <div class="row">
  <div class="name">Wins</div>
  <div class="header">0</div>
</div>
<div class="row">
  <div class="name">Played</div>
  <div class="header">0</div>
</div>
<div class="row">
  <div class="name">Hits</div>
  <div class="header">0</div>
</div>
<div class="row">
  <div class="name">Misses</div>
  <div class="header">0</div>
</div>
<div class="row">
  <div class="name">Highest</div>
  <div class="header">0</div>
</div>
<div class="row">
  <div class="name">180's</div>
  <div class="header">0</div>
</div>
<div class="row">
  <div class="name">Nine-darters</div>
  <div class="header">0</div>
</div> -->

<div class="row space">
  <div class="name">Turnover</div>
  <div class="header">{{ player.turnOver | currency$ | async }}</div>
</div>
<div class="row">
  <div class="name">Net</div>
  <div class="header">{{ player.net | currency$ | async }}</div>
</div>
