@import '~variables.scss';

:host {
  flex: 1 0 500px;
  display: flex;
  flex-direction: column;
  background: $white;
  padding: 20px;
  box-sizing: border-box;
}

.row {
  color: $black;
  align-items: center;
  justify-content: space-between;
  display: flex;

  &.space {
    margin-top: 20px;
  }

  .name {
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
}