<div class="row">
  <div class="name">Hits</div>
  <div class="header">{{ player.statistics?.hits }}</div>
</div>
<div class="row">
  <div class="name">Misses</div>
  <div class="header">{{ player.statistics?.misses }}</div>
</div>
<div class="row">
  <div class="name">Highest</div>
  <div class="header">{{ player.statistics?.highest }}</div>
</div>
<div class="row">
  <div class="name">Average</div>
  <div class="header">{{ player.statistics?.average }}</div>
</div>
<div class="row">
  <div class="name">180's</div>
  <div class="header">{{ player.statistics?.oneHundredEighty }}</div>
</div>
<div class="row space">
  <div class="name">XP</div>
  <div class="header">{{ player.xp }}</div>
</div>
<div class="row">
  <div class="name">Turnover</div>
  <div class="header">{{ player.turnOver | currency$ | async }}</div>
</div>
<div class="row">
  <div class="name">Net</div>
  <div class="header">{{ player.net | currency$ | async }}</div>
</div>
