@import '~variables.scss'; 

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: $backdrop;
  z-index: 200;
}

.login {
  width: 300px;
  padding: 20px;
  background: $modal;
  border-radius: 8px;
  box-shadow: $shadow;

  .header {
    margin-bottom: 10px;
  }

  mat-form-field {
    width: 100%;
  }

  app-button {
    float: right;
  }
}
