<div class="login" [formGroup]="loginForm">
  <div class="header">
    WELCOME TO
    <span class="logo">DART3</span>
  </div>
  <mat-form-field>
    <input matInput formControlName="email" placeholder="Email" />
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="password" type="password" placeholder="Password" />
  </mat-form-field>
  <button
    *ngIf="!(loading$ | async)"
    mat-flat-button
    color="primary"
    [disabled]="loginForm.invalid"
    (click)="login()"
  >
    Login
  </button>
  <mat-spinner *ngIf="(loading$ | async)" diameter="36"></mat-spinner>
</div>
