@import '~variables.scss';

.settings {
  display: flex;
  justify-content: space-between;
}

.player {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 20px;
  background: $white15;

  app-avatar {
    padding: 0 20px;
  }

  &:not(.selected):not(.disabled):hover {
    background: $white40;
  }

  &.disabled {
    cursor: default;
    color: $white30;

    app-avatar {
      opacity: .3;
    }
  }

  &.selected {
    background: $white30;

    fa-icon {
      color: $success;
    }
  }

  .name {
    font-size: 24px;
  }
}