<app-box header="Start game">
  <app-box-group header="Game and bet">
    <div class="settings">
      <div class="game">
        <mat-button-toggle-group
          name="gameType"
          aria-label="Game Type"
          [value]="type"
          (change)="updateGame({ type: $event.value })"
        >
          <mat-button-toggle
            *ngFor="let game of games"
            [value]="game.type"
            [disabled]="!hasPermission(game.permission) || loading"
          >
            {{ game.name }}
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <div class="bet">
        <mat-button-toggle-group
          name="gameBet"
          aria-label="Game Bet"
          [value]="bet"
          (change)="changeBet($event.value)"
        >
          <mat-button-toggle
            *ngFor="let bet of bets"
            [value]="bet.value"
            [disabled]="!hasPermission(bet.permission) || loading"
          >
            {{ bet.value | number: '1.2-2' }}
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
  </app-box-group>

  <app-box-group
    header="Select players"
    [styled]="false"
    class="players"
    [loading]="loadingPlayers$ | async"
  >
    <div class="no-players" *ngIf="players.length === 0">
      <fa-icon [icon]="noPlayersIcon" size="2x"></fa-icon>
      <span>There are no players, click below to create one.</span>
    </div>
    <div
      *ngFor="let player of players"
      class="player"
      (click)="togglePlayers(player)"
      [ngClass]="{
        selected: selectedPlayerIds.includes(player.id),
        disabled: bet > player.credits || loading
      }"
    >
      <fa-icon
        [icon]="selectedPlayerIds.includes(player.id) ? selectedIcon : unselectedIcon"
        size="2x"
      ></fa-icon>
      <app-avatar
        [avatarUrl]="player.avatarUrl"
        [color]="player.color"
        [name]="player.name"
        size="60"
      ></app-avatar>
      <div class="name">
        {{ player.name }}
      </div>
    </div>
  </app-box-group>
  <app-box-buttons
    leftText="Create player"
    (leftClick)="navigateToPlayers()"
    rightText="Lets play"
    [rightDisabled]="selectedPlayerIds.length < 2 || !bet || !type"
    [rightLoading]="loading"
    (rightClick)="createGame()"
  ></app-box-buttons>
</app-box>
