@import '~variables.scss';

:host {
  display: flex;
  align-items: center;
  background: $off-white;
  height: 22px;
  width: 22px;
  border: 1px solid;
  box-sizing: border-box;
  border-radius: 11px;
  box-shadow: $box-shadow;
}

:host.none {
  div, img, app-avatar {
    display: none;
  }
}

:host.avatar {
  &.show-score:hover {
    width: 100px;
  }

  div {
    font-family: $header;
    font-size: 12px;
    white-space: nowrap;
    margin-left: 10px;
  }
}

:host.avatar, :host.none {
  animation: hit-pulse 1s ease-in-out;
  animation-iteration-count: infinite;
  transition: width 300ms ease-out;
  overflow: hidden;
}

:host.gem {
  border-color: $gem;

  img {
    width: 20px;
    height: auto;
  }
}

@keyframes hit-pulse {
  0% {
    border-color: $board-black;
  }
  50% {
    border-color: $board-light;
  }
  100% {
    border-color: $board-black;
  }
}
