<div class="ids">
  <span>GAME #{{ game.id }}</span>
  <span>MATCH #{{ matchId }}</span>
</div>

<game-matches
  *ngIf="showMatches"
  [matches]="matches$ | async"
  [color]="option.color"
  [prizePool]="game.prizePool"
  [teams]="teams"
  (close)="showMatches = false"
></game-matches>

<game-dart-board
  [player]="activePlayer$ | async"
  [color]="option.color"
  [timer]="timer"
  [disabled]="disabled"
  [clear]="clear"
  [jackpotDisabled]="jackpotDisabled$ | async"
  [gems]="gems$ | async"
  [roundDetails]="roundDetails$ | async"
  [checkOut]="game.checkOut"
  [orderRound]="orderRound"
  [teamsCount]="teamsCount"
  (updateScores)="updateScores($event)"
  (endRound)="endRound($event)"
  (cancel)="abortAutoEndRound$.next()"
></game-dart-board>

<div class="side-board">
  <game-details
    [game]="game"
    [match]="currentMatch$ | async"
    [style.background]="option.color"
    (matches)="showMatches = true"
  ></game-details>

  <div class="headers">
    <div *ngIf="!orderRound">Sets</div>
    <div *ngIf="!orderRound">Legs</div>
    <div *ngIf="!orderRound">Score</div>
    <div class="jackpot" [ngClass]="{ disabled: jackpotDisabled$ | async }">
      <div class="value">
        <jackpot></jackpot>
      </div>
      <img class="gem" src="../../../../assets/gem.gif" />
    </div>
  </div>

  <div class="teams">
    <div class="arrow" *ngIf="arrowTop >= 0" [style.top.px]="arrowTop"></div>
    <game-team
      *ngFor="let team of teams; trackBy: trackByFn"
      [team]="team"
      [type]="game.type"
      [color]="option.color"
      [showStart]="!orderRound && team.order === activeStartOrder"
      [showScore]="!orderRound"
      [jackpotDisabled]="jackpotDisabled$ | async"
    ></game-team>
  </div>
</div>
