<app-box header="Statistics">
  <app-box-group header="Credits in play">
    <div class="credits-in-play">
      <div>
        <div *ngFor="let credit of credits$ | async" class="credit">
          <div class="name">{{ credit.name }}</div>
          <div class="value">{{ credit.value | number: '1.2-2' | currency }}</div>
        </div>
      </div>
      <div class="turnover">
        <div>Total turnover</div>
        <div>{{ totalTurnover$ | async | number: '1.2-2' | currency }}</div>
      </div>
    </div>
  </app-box-group>
</app-box>
