<div class="content" [formGroup]="form">
  <div *ngIf="types.length > 1" class="row">
    <div>Variant:</div>
    <mat-button-toggle-group formControlName="type">
      <mat-button-toggle *ngFor="let type of types" [value]="type">
        {{ gameSubName(type) }}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <!-- <div class="row">
    <div>Tournament:</div>
    <mat-button-toggle-group formControlName="tournament">
      <mat-button-toggle [value]="true">Yes</mat-button-toggle>
      <mat-button-toggle [value]="false">No</mat-button-toggle>
    </mat-button-toggle-group>
  </div> -->

  <div class="row">
    <div>Teams:</div>
    <mat-button-toggle-group formControlName="team">
      <mat-button-toggle [value]="true">Yes</mat-button-toggle>
      <mat-button-toggle [value]="false">No</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="row">
    <div>Bet:</div>
    <mat-button-toggle-group formControlName="bet">
      <mat-button-toggle *ngFor="let bet of bets" [value]="bet">
        {{ bet | currency }}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="row">
    <div>Legs:</div>
    <mat-button-toggle-group formControlName="legs">
      <mat-button-toggle *ngFor="let leg of legs" [value]="leg">
        {{ leg }}
      </mat-button-toggle>
    </mat-button-toggle-group>

    <div>Sets:</div>
    <mat-button-toggle-group formControlName="sets">
      <mat-button-toggle *ngFor="let set of sets" [value]="set">
        {{ set }}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>
<div class="buttons">
  <button mat-flat-button (click)="back.emit()">
    Back
  </button>
  <button mat-flat-button (click)="next.emit()">
    Next
  </button>
</div>
