@import '~variables.scss';

.notification {
  display: flex;
  border: 1px solid;
  padding: 15px;
  align-items: center;
  border-radius: 5px;
  background: $white30;
  width: 350px;
  margin-bottom: 20px;

  &.error {
    border-color: $error;
    color: $error;
  }

  &.warning {
    border-color: $warning;
    color: $warning;
  }

  &.info {
    border-color: $info;
    color: $info;
  }

  &.success {
    border-color: $success;
    color: $success;
  }
}

fa-icon {
  margin-right: 10px;
}