<div class="container" *ngIf="step === Step.SelectGame || selected">
  <div class="ribbon" *ngIf="option.disabled">
    <div class="label">Coming soon</div>
  </div>
  <div class="header">{{ gameName(option.type) }}</div>
  <ng-container [ngSwitch]="step">
    <game-wizard-select
      *ngSwitchCase="Step.SelectGame"
      [description]="option.description"
      [disabled]="option.disabled"
      (next)="setGame(option.type)"
    ></game-wizard-select>

    <game-wizard-settings
      *ngSwitchCase="Step.GameSettings"
      [form]="form"
      (back)="setGame('')"
      (next)="create.emit()"
    ></game-wizard-settings>

    <game-wizard-players
      *ngSwitchCase="Step.SelectPlayers"
      [players]="players"
      [selectedPlayers]="selectedPlayers"
      (start)="start.emit()"
      (cancel)="cancel.emit()"
      (add)="addPlayer.emit($event)"
      (remove)="removePlayer.emit($event)"
    ></game-wizard-players>
  </ng-container>
</div>
