@import '~variables.scss';

:host {
  display: flex;
  transition: width 500ms;
  height: 600px;
  overflow: hidden;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  color: $white;
  padding: 50px;
  box-sizing: border-box;
  position: relative;
}

.content {
  flex: 1;
  margin-bottom: 50px;

  .row {
    display: flex;
    align-items: center;
    padding: 10px 0;

    div {
      width: 100px;
    }

    mat-button-toggle-group {
      margin-right: 30px;
    }
  }
}

mat-form-field {
  margin-bottom: 50px;
}

button {
  font-size: 20px;
}

.text, .header {
  width: 250px;
  max-width: 100%;
}

button, mat-form-field {
  max-width: 250px;
  width: 100%;
  align-self: center;
}

.buttons {
  display: flex;
  justify-content: flex-end;

  button {
    margin-left: 20px;
  }
}

.ribbon {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 140px;
  height: 140px;
  overflow: hidden;

  .label {
    position: relative;
    display: block;
    right: 40px;
    top: 30px;
    width: 180px;
    padding: 10px 0;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: $black;
    background-color: $border;
    box-shadow: 0px 0px 4px rgba($black ,.3);
    transform: rotate(-45deg) translate3d(0,0,0);
  }
}
