<div class="container" *ngIf="step === Step.SelectGame || selected">
  <div class="header">{{ option.name }}</div>
  <ng-container [ngSwitch]="step">
    <game-wizard-select
      *ngSwitchCase="Step.SelectGame"
      [description]="option.description"
      (next)="setGame(option.types[0])"
    ></game-wizard-select>

    <game-wizard-settings
      *ngSwitchCase="Step.GameSettings"
      [types]="option.types"
      [variants]="option.variants"
      [form]="form"
      (back)="setGame('')"
      (next)="create.emit()"
    ></game-wizard-settings>

    <game-wizard-players
      *ngSwitchCase="Step.SelectPlayers"
      [players]="players"
      [selectedPlayers]="selectedPlayers"
      (start)="start.emit()"
      (cancel)="cancel.emit()"
      (add)="addPlayer.emit($event)"
      (remove)="removePlayer.emit($event)"
    ></game-wizard-players>
  </ng-container>
</div>
