@import '~material.scss';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import '~variables.scss'; 

body {
  margin: 0;
  color: $white90;
  background: url("assets/background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: $regular;
  font-weight: 300;
}

.logo {
  font-family: $logo;
}
