@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~variables.scss'; 

body {
  margin: 8px 8px 8px 58px;
  color: $white;
  background-image: url("assets/images/background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: $regular;
  font-weight: 300;
}

.logo {
  font-family: $logo;
}


.coins {
  color: #FFDF00;
}

.xp {
  color: #DC143C;
}

.diamonds {
  color: #1E90FF;
}