@import '~variables.scss'; 
@import '~material.scss';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';

body {
  margin: 0;
  color: $black;
  background: $off-white;
  font-family: $base;
}

button {
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 0 !important;
}
