$regular: 'Rubik', sans-serif;
$logo: 'Montserrat Subrayada', sans-serif;

// new colors
$white: #F8F8F8;
$white08: rgba($white, .08);
$white15: rgba($white, .15);
$white30: rgba($white, .30);
$white40: rgba($white, .40);
$white60: rgba($white, .60);
$white90: rgba($white, .90);

$black: #111D49;
$black40: rgba($black, .40);

$info: #6ccbff;
$success: #8bff6c;
$warning: #fbff6c;
$error: #ff6c6c;

$board-light: #f7e9cd;
$board-red: #ed3737;
$board-green: #4f9962;
$board-black: #111111;
