$white: #ffffff;
$off-white: #f7f7f7;
$grey: #f1f1f1;
$border:#dddddd; 
$dark-grey: #797979;
$dark-blue: #232e3a;
$black: #181818;
$error: #ff6c6c;
$info: #6ccbff;
$success: #8bff6c;
$warning: #fbff6c;
$gold: #DAA520;
$gem: #bc7bd1;

$header: 'Montserrat', sans-serif;
$base: 'Lora', sans-serif;
$xp: 'Major Mono Display', monospace;
$mono: 'Lucida Console', Monaco, monospace;

$box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.2);

$board-light: #f7e9cd;
$board-red: #ed3737;
$board-green: #4f9962;
$board-black: #111111;
