.game-board {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;

  mat-progress-bar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }
}

app-dart-board {
  height: 100%;
  width: auto;
}

.side-board {
  margin: 30px 30px 0 0;
  flex: 1;
  z-index: 5;

  app-dart-players {
    margin-left: -125px;
    z-index: 10;
  }

  app-dart-player-turn {
    width: 260px;
  }
}
