.game-board {
  width: 100%;
  height: 100%;
  display: flex;
}

app-dart-board {
  height: 100%;
  width: auto;
}

.side-board {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px 30px 0 0;

  .side-board-row {
    display: flex;
    justify-content: space-between;
  }

  app-current-player, app-jackpot {
    display: block;
    width: 260px;
  }
}
