<div class="game-board">
  <mat-progress-bar *ngIf="loading" mode="indeterminate" color="accent"></mat-progress-bar>
  <app-dart-board
    [locked]="loading || ended"
    [scores]="scores"
    [jackpotRound]="jackpotRound$ | async"
    [player]="currentPlayer"
    (updateScores)="updateScores($event)"
    (jackpotGameComplete)="nextTurn()"
  ></app-dart-board>
  <div class="side-board">
    <app-score-board
      [gamePlayers]="game.players"
      [players]="players"
      [currentTurn]="game.currentTurn"
      [currentRound]="game.currentRound"
      [disableAnimation]="loading || ended"
      [gameConfig]="gameConfig"
    ></app-score-board>
    <div class="side-board-row">
      <app-current-player
        [player]="currentPlayer"
        [scores]="scores"
        [disableEndTurn]="loading || ended"
        [autoEndTurn]="countDown"
        [roundText]="gameConfig.longRoundName(game.currentRound)"
        (endRound)="endRound()"
        (abortAutoEndTurn)="abortAutoEndTurn()"
      ></app-current-player>
      <app-jackpot [value]="jackpot$ | async" [loading]="loading"></app-jackpot>
    </div>
  </div>
</div>
