<div class="game-board">
  <app-dart-board
    [disabled]="disableBoard"
    [scores]="scores"
    [jackpotRound]="jackpotRound$ | async"
    [player]="currentPlayer"
    [playingJackpot]="playingJackpot"
    (updateScores)="updateScores($event)"
    (jackpotGameComplete)="nextTurn()"
  ></app-dart-board>
  <div class="side-board">
    <app-score-board
      [gamePlayers]="game.players"
      [players]="players"
      [currentTurn]="game.currentTurn"
      [currentRound]="game.currentRound"
      [roundHeaders]="(boardData$ | async).roundHeaders"
      [totalHeader]="(boardData$ | async).totalHeader"
      [disableAnimation]="disableBoard"
      [disablePosition]="ended"
    ></app-score-board>
    <div class="side-board-row">
      <app-current-player
        [player]="currentPlayer"
        [scores]="scores"
        [disableEndTurn]="disableBoard"
        [countDown]="countDown"
        [turnText]="(boardData$ | async).turnText"
        (endTurn)="endTurn()"
        (abortAutoEndTurn)="abortAutoEndTurn()"
      ></app-current-player>
      <div>
        <app-jackpot [value]="jackpot$ | async" [locked]="disableBoard"></app-jackpot>
        <app-dev-controls
          *ngIf="hasGameDevControls$ | async"
          (abortGame)="abortGame()"
        ></app-dev-controls>
      </div>
    </div>
  </div>
</div>
