@import '~variables.scss';

:host {
  height: 1em;
}

.fa-star {
  margin: 0 1px;

  &.gold {
    color: $gold;
  }

  &.white {
    color: $white;
  }
}

.next {
  position: relative;
  opacity: 0.4;
}

.progress {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
}