@import '~variables.scss';

:host {
  display: flex;
  font-family: $header;
  font-size: 28px;
  color: $grey;
}

div {
  position: relative;
  padding: 0 10px;
  overflow: hidden;
  white-space: nowrap;
}