@import '~variables.scss';

:host {
  display: flex;
  height: 20px;
  font-family: $header;
  padding: 3px 0;
  color: $grey;
}

div {
  position: relative;
  padding: 0 10px;
  overflow: hidden;
  white-space: nowrap;
}