@import '~variables.scss';

:host {
  display: flex;
  align-items: center;
  width: 100%;
}

.progress {
  flex: 1;
  margin: 5px 0;
  height: 5px;
  border: solid $white90;
  border-width: 1px 0;

  .value {
    background: $white40;
    height: 100%;
  }
}

.current {
  width: 65px;
  margin-right: 10px;
  font-size: 12px;
  text-align: right;
}

.next {
  width: 65px;
  margin-left: 10px;
  font-size: 12px;
}