<app-box-group header="Scoreboard" [styled]="false">
  <div class="wrapper">
    <div class="column">
      <div class="field"></div>
      <div
        *ngFor="let player of players; let index = index"
        class="field"
        [ngClass]="{ active: index === currentTurn && !loading }"
      >
        <app-avatar
          [avatarUrl]="player.avatarUrl"
          [color]="player.color"
          [name]="player.name"
          size="25"
        ></app-avatar>
      </div>
    </div>
    <div class="wrapper">
      <div *ngFor="let round of halveItRounds; let roundIndex = index" class="column">
        <div
          class="field header"
          [ngClass]="{ active: roundIndex === currentRound && !loading, sum: round === 'Total' }"
        >
          {{ round }}
        </div>
        <div
          *ngFor="let player of players; let playerIndex = index"
          class="field"
          [ngClass]="{
            active: (playerIndex === currentTurn || roundIndex === currentRound) && !loading
          }"
        >
          {{ getPlayerRoundScore(roundIndex, playerIndex) }}
        </div>
      </div>
    </div>
  </div>
</app-box-group>
