@import '~variables.scss';

.wrapper {
  display: flex;
}

.column {
  display: flex;
  font-size: 20px;
  flex-direction: column;

  &:not(:last-child) {
    margin-right: 1px;
  }

  .header {
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .field {
    display: inline-flex;
    justify-content: center;
    background: $white15;
    padding: 5px;
    width: 40px;
    height: 25px;

    &:not(:last-child) {
      margin-bottom: 1px;
    }

    &.sum {
      width: 100px;
    }
  }
}

.active {
  animation: active-player-pulse 2s ease-in-out;
  animation-iteration-count: infinite;
}


@keyframes active-player-pulse {
  0% {
    background: rgba($white, .4);
  }
  50% {
    background: rgba($white, .15);
  }
  100% {
    background: rgba($white, .4);
  }
}