<app-box-group header="Scoreboard" [styled]="false">
  <div class="wrapper">
    <div class="column">
      <div class="field"></div>
      <div
        *ngFor="let player of players; let index = index"
        class="field"
        [ngClass]="{ active: index === currentTurn && !disableAnimation }"
      >
        <app-avatar
          [avatarUrl]="player.avatarUrl"
          [color]="player.color"
          [name]="player.name"
          size="25"
        ></app-avatar>
      </div>
    </div>
    <div class="score-columns">
      <div class="scores">
        <div @slideIn *ngFor="let round of rounds" class="column score">
          <div
            class="field header"
            [ngClass]="{
              active: round === currentRound && !disableAnimation,
              sum: round === 'Total'
            }"
          >
            <bdi>{{ gameConfig.shortRoundName(round) }}</bdi>
          </div>
          <div
            *ngFor="let player of players; let playerIndex = index"
            class="field"
            [ngClass]="{
              active: (playerIndex === currentTurn || round === currentRound) && !disableAnimation
            }"
          >
            {{ getGamePlayerRound(player.id, round).display }}
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field total">Total</div>
      <div
        *ngFor="let player of players; let index = index"
        class="field total"
        [ngClass]="{ active: index === currentTurn && !disableAnimation }"
      >
        {{ getGamePlayer(player.id).total }}
      </div>
    </div>
  </div>
</app-box-group>
