@import '~variables.scss';

.wrapper {
  display: flex;
}

.column {
  display: flex;
  font-size: 20px;
  flex-direction: column;
  margin-right: 1px;

  .field {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: $white30;
    padding: 5px;
    min-width: 50px;
    width: 50px;
    height: 35px;
    box-sizing: border-box;

    &.header {
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    &.placeholder  {
      background: $white08;
    }

    &.position {
      opacity: .5;
    }

    &.total {
      width: 120px;
    }

    &:not(:last-child) {
      margin-bottom: 1px;
    }

    &.sum {
      width: 100px;
    }
  }
}

.score-columns {
  display: flex;
  position: relative;
  width: 357px;
  overflow: hidden;

  .scores {
    overflow-x: hidden;
    position: absolute;
    right: 0;
    display: flex;
  }

  &.full-width {
    width: 100%;

    .field {
      max-width: 100px;
    }
  }
}

.active {
  animation: active-player-pulse 2s ease-in-out;
  animation-iteration-count: infinite;
}

.active-placeholder {
  animation: active-player-pulse-light 2s ease-in-out;
  animation-iteration-count: infinite;
}


@keyframes active-player-pulse {
  0% {
    background: rgba($white, .3);
  }
  50% {
    background: rgba($white, .15);
  }
  100% {
    background: rgba($white, .3);
  }
}

@keyframes active-player-pulse-light {
  0% {
    background: rgba($white, .2);
  }
  50% {
    background: rgba($white, .08);
  }
  100% {
    background: rgba($white, .2);
  }
}